# Copy this to secrets.yaml and fill in real values
# NEVER commit secrets.yaml to git
apiVersion: v1
kind: Secret
metadata:
  name: procureai-secrets
  namespace: procureai
type: Opaque
stringData:
  DB_PASSWORD: "CHANGE_ME"
  JWT_SECRET: "CHANGE_ME_256_BIT_KEY_HERE"
  RABBITMQ_USER: "guest"
  RABBITMQ_PASS: "CHANGE_ME"
  MINIO_USER: "minioadmin"
  MINIO_PASS: "CHANGE_ME"
  MAIL_USERNAME: ""
  MAIL_PASSWORD: ""
